[Unit]
Description=OCSP proxy
Documentation=man:ocsp_proxy(8)
Before=httpd.service
After=network.target redis.service

[Service]
Environment=host=localhost
Environment=port=8888
Environment=redis_sock=/run/redis/redis.sock
Environment=redis_prefix=ocspxy_
EnvironmentFile=-/etc/sysconfig/ocsp_proxy
ExecStartPre=@@TEST_BIN@@ -S $redis_sock -a -r $redis_sock
ExecStart=@@SBINDIR@@/ocsp_proxy -H $host -p $port -s $redis_sock -x $redis_prefix
User=ocspproxy
Group=ocspproxy
Restart=always

[Install]
WantedBy=multi-user.target
